#background {
    background-image: url(coverpage.jpg);
    padding: 20px;
}

#textbox {
    width: auto;
    height: 900px;
    opacity: 0.8;
    padding: 40px;
}

.text {
    color: white;
    text-align: right;
    padding: 80px;
    font-size: 45px;

}

.link {
    text-align: right;
    font-size: 35px;
    padding-right: 350px;
    color: cyan;

}

    a:hover {
        color: cyan;
        background-color: grey;
    }

 
    a:visited {
        color: cyan;
    }